/* Header section style */
body {
  font-family: "Caveat", cursive;
  font-family: "Open Sans", sans-serif;
}
.title {
  color: #181818;
  font-family: Open Sans;
  font-size: 45px;
  font-style: normal;
}
.txt-color {
  color: #fd6e0a;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav a {
  color: #474747;
  text-decoration: none;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  border: none;
  padding: 15px 35px;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
}
.banner .profile {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section */
.about {
  padding: 150px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}
.title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.info-title {
  text-align: center;
}
